@{
    ViewData["Title"] = "Student Portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Portal</h1>
    <p>Hello Student! This is your dedicated portal.</p>

    <div class="mt-4">
        <h3>Student Features:</h3>
        <ul class="list-group">
            <li class="list-group-item">View Available Tutors</li>
            <li class="list-group-item">Schedule Sessions</li>
            <li class="list-group-item">Access Learning Materials</li>
            <li class="list-group-item">Track Progress</li>
        </ul>
    </div>
</div>