@{
    ViewData["Title"] = "Tutor Portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tutor Portal</h1>
    <p>Hello Tutor! This is your dedicated portal.</p>

    <div class="mt-4">
        <h3>Tutor Features:</h3>
        <ul class="list-group">
            <li class="list-group-item">Manage Student Sessions</li>
            <li class="list-group-item">Upload Teaching Materials</li>
            <li class="list-group-item">Track Student Progress</li>
            <li class="list-group-item">Set Availability</li>
        </ul>
    </div>
</div>